@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .welcome-message {
        text-align: center;
        font-size: 24px;
        color: #333;
        padding: 20px;
        background-color: #FFB752;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="welcome-message">
    <h2>ÇALIŞAN TAKİP SİSTEMİ</h2>
   <p>Çalışan takip sistemi, bir organizasyonun çalışanlarını etkin bir şekilde yönetmek ve takip etmek için kullanılan bir sistemdir. Bu sistem, işverenlere çalışanların bilgilerini kaydetme, izin taleplerini yönetme, iş emirlerini atama ve takip etme, performans değerlendirmelerini yapma gibi işlevler sağlar. Ayrıca çalışanlar da sisteme giriş yaparak izin taleplerinde bulunabilir, atanan iş emirlerini görüntüleyebilir ve tamamladıkları işleri raporlayabilirler.</p>
</div>
